/* ==========================================================================
Sidebar styles
========================================================================== */
.sidebar {
  position: fixed;
  height: 100vh;
  border-right: 0.0625em solid #c6cfd6;
  width: 15.625em;
  overflow: auto;
  padding: 0;
  background: #dbe2e6;
  z-index: 100;
}
.sidebar-header {
  padding: 0.625em;
}
.sidebar-content {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-flex: 1;
  flex: 1;
  -webkit-overflow-scrolling: touch;
}
.sidebar-menu {
  padding: 0;
  margin: 0 0 1.5625em 0;
  list-style: none;
  a {
    &:first-child {
      span {
        margin-left: 0.5em;
        > span:first-child {
          margin-left: 0;
        }
      }
    }
  }
  fa-layers {
    font-size: 1.5625em;
    vertical-align: bottom;
  }
  > li {
    border-bottom: 0.0625em solid transparent;
    > a {
      display: block;
      font-weight: initial;
      text-decoration: none !important;
      color: #000 !important;
      padding: 0.625em 0.625em 0.625em 0.8125em;
      cursor: pointer;
    }
  }
}
.sidebar-sub-menu {
  padding: 0;
  margin: 0;
  float: none;
  background-color: transparent;
  border-radius: inherit;
  border: 0;
  list-style: none;
  > li {
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    border-bottom: 0.0625em solid transparent;
    > a {
      display: flex;
      position: relative;
      align-self: center;
      box-sizing: border-box;
      overflow: hidden;
      &:first-child {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        font-weight: initial;
        text-decoration: none !important;
        color: #000 !important;
        padding: 0.625em 0.625em 0.625em 0.8125em;
        cursor: pointer;
      }
      &.btn {
        margin-right: 0.3125em;
      }
      &.btn-secondary {
        color: #fff !important;
        text-decoration: none !important;
      }
    }
  }
}
