<div class="cks-sidebar-brand">
    <span class="cks-sidebar-logo-img"></span>
    <span class="cks-sidebar-brand-text">Gooroom</span>
    <span class="cks-sidebar-version">vUNKNOWN</span>
</div>
<perfect-scrollbar class="scroll-container">
    <ul class="cks-sidebar-nav nav flex-column" cksSidebarMenu>
        <li class="nav-item">
            <a class="nav-link">
                <fa-layers [fixedWidth]="true" class="cks-sidebar-nav-icon">
                    <fa-icon icon="tachometer-alt"></fa-icon>
                </fa-layers>
                Dashboard
            </a>
        </li>
        <li class="nav-title">
            TITLE
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <fa-layers [fixedWidth]="true" class="cks-sidebar-nav-icon">
                    <fa-icon icon="tachometer-alt"></fa-icon>
                </fa-layers>
                Dashboard
            </a>
        </li>
        <li class="nav-dropdown" cksSidebarDropdown>
            <a class="nav-dropdown-toggle" cksSidebarDropdownToggle>
                <fa-layers [fixedWidth]="true" class="cks-sidebar-nav-icon">
                    <fa-icon icon="tachometer-alt"></fa-icon>
                </fa-layers>
                Dashboard
                <fa-layers [fixedWidth]="true" class="ml-auto nav-dropdown-toggle-state">
                    <fa-icon icon="angle-down"></fa-icon>
                </fa-layers>
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown" cksSidebarDropdown>
            <a class="nav-dropdown-toggle" cksSidebarDropdownToggle>
                <fa-layers [fixedWidth]="true" class="cks-sidebar-nav-icon">
                    <fa-icon icon="tachometer-alt"></fa-icon>
                </fa-layers>
                Dashboard
                <fa-layers [fixedWidth]="true" class="ml-auto nav-dropdown-toggle-state">
                    <fa-icon icon="angle-down"></fa-icon>
                </fa-layers>
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="cks-sidebar-nav-icon"></span>
                        Dashboard
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-title">
            TITLE
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <fa-layers [fixedWidth]="true" class="cks-sidebar-nav-icon">
                    <fa-icon icon="tachometer-alt"></fa-icon>
                </fa-layers>
                Dashboard
            </a>
        </li>
    </ul>
</perfect-scrollbar>
<!--
<div class="sidebar" *ngIf="isSidebarViewed | async">
    <div class="sidebar-header">
        <ng-template [ngTemplateOutlet]="headerTemplate"></ng-template>
    </div>
    <div class="sidebar-content">
        <ng-template [ngTemplateOutlet]="contentTemplate || sidebarContent" [ngTemplateOutletContext]="{ items: menuItems }"> </ng-template>
    </div>
    <div class="sidebar-footer">
        <ng-template [ngTemplateOutlet]="footerTemplate"></ng-template>
    </div>
</div>
<ng-template #sidebarContent let-items="items">
    <ul class="sidebar-menu" *ngIf="items">
        <li *ngFor="let item of items">
            <ng-template [ngTemplateOutlet]="isUsedRouterLink(item.navigation) ? routerLink : nonRouterLink" [ngTemplateOutletContext]="{ item: item }"></ng-template>
            <ul class="sidebar-sub-menu" *ngIf="item.subItems && item.subItems.length > 0">
                <li *ngFor="let subItem of item.subItems">
                    <ng-template [ngTemplateOutlet]="isUsedRouterLink(subItem.navigation) ? routerLink : nonRouterLink" [ngTemplateOutletContext]="{ item: subItem }"></ng-template>
                    <a class="btn btn-secondary btn-sm" (click)="doAction(subItem.ext.navigation)" *ngIf="subItem.ext">
                        <fa-layers *ngIf="subItem.ext.icon && subItem.ext.icon.length > 0">
                            <fa-icon [icon]="subItem.ext.icon"></fa-icon>
                        </fa-layers>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</ng-template>
<ng-template #nonRouterLink let-item="item">
    <a (click)="doAction(item.navigation)">
        <span>
            <fa-layers [fixedWidth]="true" *ngIf="item.icon && item.icon.length > 0">
                <fa-icon [icon]="item.icon"></fa-icon>
            </fa-layers>
            <span>{{ !item.name.translateKey ? item.name.label : (item.name.translateKey | translate) }}</span>
        </span>
    </a>
</ng-template>
<ng-template #routerLink let-item="item">
    <a [routerLink]="item.navigation.routerLink" [queryParams]="item.navigation.queryParams" [fragment]="item.navigation.fragment">
        <span>
            <fa-layers [fixedWidth]="true" *ngIf="item.icon && item.icon.length > 0">
                <fa-icon [icon]="item.icon"></fa-icon>
            </fa-layers>
            <span>{{ !item.name.translateKey ? item.name.label : (item.name.translateKey | translate) }}</span>
        </span>
    </a>
</ng-template>
-->
