<div class="d-flex" [ngSwitch]="withSidebar">
    <button  class="navbar-toggler d-lg-none mr-auto" type="button" *ngSwitchCase="true">
        <fa-icon icon="bars"></fa-icon>
    </button>
    <a class="cks-header-brand">
        <span class="cks-header-logo-img"></span>
        <span class="cks-header-brand-text">Gooroom</span>
        <span class="cks-header-version">vUNKNOWN</span>
    </a>
    <button class="navbar-toggler d-none d-lg-block ml-3" type="button" *ngSwitchCase="true">
        <fa-icon icon="bars"></fa-icon>
    </button>
</div>
<ul class="nav navbar-nav d-none d-lg-flex">
    <li class="nav-item px-2" *ngFor="let tItem of textItems">
        <a class="nav-link" (click)="doAction(tItem.navigation)">
            {{ !tItem.name.translateKey ? tItem.name.label : (tItem.name.translateKey | translate) }}
        </a>
    </li>
</ul>
<ul class="nav navbar-nav ml-auto">
    <li class="nav-item" *ngFor="let iItem of iconItems">
        <a class="nav-link" (click)="doAction(iItem.navigation)" placement="bottom" ngbTooltip="{{ iItem.tooltip ? (!iItem.tooltip.translateKey ? iItem.tooltip.label : (iItem.tooltip.translateKey | translate)) : undefined }}">
            <fa-icon [icon]="iItem.icon" class="cks-icon"></fa-icon>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link py-0 px-2">
            <fa-icon icon="user-circle" class="profile-icon" *ngIf="!userImgUrl"></fa-icon>
            <img [src]="userImgUrl" class="profile-image rounded-circle" alt="Avatar" *ngIf="userImgUrl">
        </a>
    </li>
    <li class="nav-item pr-1">
        <button class="nav-button" type="button">
            <fa-icon icon="ellipsis-h"></fa-icon>
        </button>
    </li>
</ul>
<div class="cks-subheader justify-content-between px-3" *ngIf="withSubheader">
    <ol class="breadcrumb border-0 m-0 px-0 px-md-3 bg-transparent">
        <li class="breadcrumb-item" [ngClass]="{'active': isLast}" *ngFor="let bItem of breadcrumbItems; last as isLast">
            <a (click)="doAction(bItem.navigation)">{{ !bItem.name.translateKey ? bItem.name.label : (bItem.name.translateKey | translate) }}</a>
        </li>
    </ol>
</div>
